*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-size: 62%;
}
.navbar{
    display: grid;
    grid-template-areas: 'c c c c c c s H';
    background-color: white;
    padding:1.5rem 0 1rem 0;
   box-shadow: 0 .2rem .2rem grey;
}
.navbar .color-flipper{
   grid-area: c; 
   font-size: 2rem;
   padding-left: 3rem;
   color: rgb(28, 87, 206);
   font-weight: 550;
}
.navbar .simple{
    grid-area: s;
    text-align: center;
    font-size: 1.8rem;
}
.navbar .simple a{
    color: black;
}
.navbar .Hex{
    grid-area: H;
    text-align: center;
    font-size: 1.8rem;
}
.navbar .Hex a{
    color: black;
}
.container{
    margin-top:.2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2{
    background-color: black;
    color: white;
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
}
.container h2 span{
 text-transform: uppercase;
}
.container button{
    margin: 1rem 44%;
    border-radius: 2rem;
    border: .3rem solid black;
    font-weight: 550;
}